<link rel="stylesheet" href="\css\card.css">
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<div id="optcontainer">
        <a href="https://social-flashcards.herokuapp.com/card/deck"><button id="optleft"><h1>Go To Deck</h1></button></a><a href="https://social-flashcards.herokuapp.com/gui"><button id="optright"><h1>Edit Deck</h1></button></a>
</div>
