<a href="https://social-flashcards.herokuapp.com/card"><h1>Home</h1></a>
<h1>Select The Question You Wish To Edit</h1>
<div id="allinfoedit">
    <% if(typeof choiceedit != 'undefined'){%>
        <% choiceedit.forEach(function(info){%>
            <div class="cardholder" class="cardstyleedit">
                <a href="<%=`https://social-flashcards.herokuapp.com/gui/edit/${info.id}` %>" class="cardeditredirect">
                    <button class="selection">
                        <div>                
                            Card ID: <%= info.id %>                
                        </div>
                        <div class="qcolor">
                            Question: <%= info.question %>
                        </div>
                        <div class="acolor">                
                            Answer: <%= info.answer %>                
                        </div>
                    </button>
                </a>
                
            </div>
            <br>
            
        <%});%>
    <%}%>
</div>
